<div class="wrapper">
    <div class="tableBlock">
        <table>
            <thead>
                <tr>
                    <th>№ Замовлення</th>
                    <th>Дата та час</th>
                    <th>Адреса</th>
                    <th>Суми</th>
                    <th>Статус</th>
                </tr>
            </thead>
            <tbody>
                <tr class="order">
                    <th>№3151</th>
                    <th>08.2022 18:45</th>
                    <th>Самовивіз</th>
                    <th>510 грн</th>
                    <th>виконано /повторити</th>
                </tr>
                <tr class="order-item">
                    <th></th>
                    <th>Запечені макі</th>
                    <th>1</th>
                </tr>
            </tbody>
        </table>
    </div>
</div>