<div class="wrapper">
    <form class="pers-info">
        <div class="sect-block">
            <span class="section">1</span>
            <h1>Особисті дані</h1>
        </div>
        <div class="text-block">
            <input type="text" class="name" placeholder="Ваше імя">
            <input type="text" class="surname" placeholder="Ваше прізвище">
        </div>
        <input type="text" class="phone" placeholder="Ваше телефон">
        <input type="text" class="email" placeholder="Email">
        <div class="sect-block">
            <span class="section">2</span>
            <h1>Додати адресу</h1>
        </div>
        <div class="btnBlock">
            <input type="button" class="btn" value="Додати адресу">
            <input type="button" class="btn" value="Зберегти зміни">
        </div>
    </form>
</div>