<div class="wrapper">
    <form class="pers-info">
        <div class="sect-block">
            
            <h1>Зміна паролю</h1>
        </div>
        <input type="text" class="passwordChange" placeholder="Ваш поточний пароль">
        <input type="text" class="passwordChange" placeholder="Новий пароль">
        <input type="text" class="passwordChange" placeholder="Повторіть">
        <div class="btnBlock">
            <input type="button" class="btn" value="Скасувати">
            <input type="button" class="btn" value="Зберегти зміни">
        </div>
    </form>
</div>
