<div class="modal-container">
    <div class="modal">
            <!-- <div class="item-card-busket">
                <div class="img-box">
                    <img src="https://firebasestorage.googleapis.com/v0/b/monosushi-ff35d.appspot.com/o/images%2F1.-filadelfiya-z-lososem.jpg?alt=media&token=e83bc8aa-4c3a-4d37-9363-c45af1b18578">
                </div>
                <h3>Каліфорнія</h3>
                <div class="item-order">
                    <div class="item-number">
                        <button>-</button>
                        <span>1</span>
                        <button>+</button>
                    </div>
                    <span class="item-price">260 грн</span>
                    <input class="item-busket-delete-btn" type="button" value="delete">
        
                </div>
            </div> -->
    </div>
</div>
