/* You can add global styles to this file, and also import other style files */
@import './app/shared/styles/variables.scss';
@import'./app/shared/styles/theme-material';
@import 'ngx-toastr/toastr';
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: fit-content;
    font-family: 'Montserrat', sans-serif;
    color: black;
    
}


.main {
    min-height: calc(100vh - 220px);
}

body::-webkit-scrollbar {
    width: 3px;               /* width of the entire scrollbar */
  }
  
  body::-webkit-scrollbar-track {
    background: rgb(254, 254, 254);        /* color of the tracking area */
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: $blueColor;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
  }


